(
    axes: {
        "player_rotation": Emulated(
            pos: Key(A),
            neg: Key(D),
        ),
        "player_acceleration": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
    },
    actions: {},
)
